
</div>
<div class="footer-padding"></div>
  <div class="footer">
    
    <a href="https://www.linkedin.com/in/mahendra-girase/"><i class="social-icon fa-brands fa-linkedin" style="color: white;"></i></a>
    <a href="https://www.instagram.com/mjgirase07/"><i class="social-icon fa-brands fa-instagram" style="color: white"></i></a>
    <i class="social-icon fa-brands fa-facebook-f" style="color: white;"></i>
    <a href="2021.mahendra.girase@ves.ac.in"><i class="social-icon fa-solid fa-envelope" style="color: white;"></i>
    </a>
    

    <p>Copyright ©2023 All rights reserved</p>
  </div>
</div>
</body>
</html>
