html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #FFF5E0;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #C70039;

    
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}


.footer-padding {
	padding-bottom: 60px;
}

.social-icon{
  padding: 10px;
  margin-top: 20px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #141E46;
}

.footer p {
	margin-top: 5px;
	font-size: 12px;
  color: #A4A099;
}




.pic{
  height: auto;
  width:  302px;
}

.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #000;
  border: 1px solid #4070f4;
}




.contact-container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 800px;
  margin: 20px;
}

.contact-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

img {
  border-radius: 20%;
}

.contact-form {
  flex: 2;
  padding: 20px;
}

h1 {
  font-size: 36px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-info {
  flex: 1;
  padding: 20px;
  background-color: #f1f1f1;
}

ul {
  list-style-type: none;
  padding: 0;
}